
<div  class="col-xs-12 hairline-left lab-column bg-info padding-sm padding-md-top" style="height:$root.appHeight">
	<div class="page-content padding-sm margin-md-top" ng-show="$root.server.connected">
		<div class="page-content-header">
			<button class="pull-right btn btn-primary" ng-click="process();">Run</button>
			<h1 class="title">Welcome to Nomie Lab!</h1>
		</div>
		<div class="page-content-body has-header padding-md padding-off-top">
				<div class="row">
					<div class="col-xs-4 col-lg-1">
						<h1 class="margin-xs-bottom">{{dataOverview.number_of_events | number}}</h1>
						<label class="text-faded text-weak padding-off-top">Total Events</label>
					</div>
					<div class="col-xs-4 col-lg-1">
						<h1 class="margin-xs-bottom">{{dataOverview.number_of_notes}}</h1>
						<label class="text-faded text-weak padding-off-top">Total Notes</label>
					</div>
					<div class="col-xs-4 col-lg-1">
						<h1 class="margin-xs-bottom">{{dataOverview.number_of_trackers}}</h1>
						<label class="text-faded text-weak padding-off-top">Trackers</label>
					</div>


					<div class="col-xs-6 col-lg-3">
						<h1 class="margin-xs-bottom">{{dataOverview.first_event | amDateFormat:'ddd, MMM Do YYYY'}}</h1>
						<label class="text-faded text-weak padding-off-top">First Time</label>
					</div>
					<div class="col-xs-6 col-lg-3">
						<h1 class="margin-xs-bottom">{{dataOverview.last_event | amDateFormat:'ddd, MMM Do YYYY'}}</h1>
						<label class="text-faded text-weak padding-off-top">Last Time</label>
					</div>
				</div>


				<hr>

				<div class="chart" id="chart">
				</div>

		</div>


	</div>
	<!-- LOGIN MODAL -->


</div>


<div class="modal fade" id="connectModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Login</h4>
			</div>
			<div class="modal-body ">
				<p>Connect to a Server</p>

				<div class="form-group">
						<label for="">URL</label>
						<input type="text" class="form-control" ng-model="url">
				</div>
				<div class="form-group">
						<label for="">Username</label>
						<input type="text" class="form-control" ng-model="username">
				</div>
				<div class="form-group">
						<label for="">Password</label>
						<input type="password" class="form-control" ng-model="password">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default pull-left"  data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" ng-click="testConnection()">Login</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
